<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
	{% block body_block %}

	<div class="col-sm-10">
	<div class='container-fluid'>

	<div class="alert alert-danger" role="alert">
		<h3><strong> Extra Curricular Activites </strong></h3>
		<hr>
			<ol id="one" align="justify">

				<li class="list-group-item list-group-item-warning">
					<strong>
					Winner, Table Tennis (Single)
					<br>
					Lockport Games Madness, Yahoo! - 2017
				</strong>
				</li>

					<li class="list-group-item list-group-item-warning">
						<strong>
						Winner, Pool Tournament
						<br>
						OU-Tulsa International Student Organization - 2015
					</strong>
					</li>

					<li class="list-group-item list-group-item-warning">
						<strong>
						Winner, Table Tennis (Singles)
						<br>
						OU-Tulsa International Student Organization - 2015
					</strong>
					</li>

					<li class="list-group-item list-group-item-warning">
						<strong>
						Runner-Up, Table Tennis (Doubles)
						<br>
						OU-Tulsa International Student Organization - 2015
					</strong>
					</li>

					<li class="list-group-item list-group-item-warning">
						<strong>
						Winner, Table Tennis (Single)
						<br>
						Grameenphone Ltd. Regional Tournament - 2014
					</strong>
					</li>

					<li class="list-group-item list-group-item-warning">
						<strong>
						Champion, Table Tennis (Single)
						<br>
						Inter Hall Indoor Games Competition - 2008
					</strong>
					</li>

					<li class="list-group-item list-group-item-warning">
						<strong>
						Champion, Table Tennis (Doubles)
						<br>
						Inter Hall Indoor Games Competition - 2008
					</strong>
					</li>

				</ol>
	</div>
</div>
</div>

  {% endblock %}
