<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
	{% block body_block %}

	<div class="col-sm-10">
	<div class='container-fluid'>


		<div class="panel panel-success">
			<div class="panel-heading">

		<div class="media">
			<div class="media-left">
					<a href="https://www.cisco.com">
					<img class="media-object" src="{% static 'images/Cisco_Logo.jpg' %}">
				</a>
			</div>
			<div class="media-body">
			<h2 class="media-heading"><strong>Cisco Certified Network Professional (CCNP)</strong></h2>
			<strong>Validity Feb 2016 - Feb 2019</strong>

			</div>

			</div>
		</div>
		</div>


		<div class="panel panel-success">
			<div class="panel-heading">

		<div class="media">
			<div class="media-left">
					<a href="https://www.cisco.com">
					<img class="media-object" src="{% static 'images/Cisco_Logo.jpg' %}">
				</a>
			</div>
			<div class="media-body">
			<h2 class="media-heading"><strong>Cisco Certified Network Associate (CCNA)</strong></h2>
			<strong>Validity Jun 2015 - Feb 2019</strong>

			</div>

			</div>
		</div>
		</div>


		<div class="panel panel-info">
			<div class="panel-heading">

		<div class="media">
			<div class="media-left">
					<a href="https://www.cloudera.com">
					<img class="media-object" src="{% static 'images/Cloudera_logo1.jpg' %}">
				</a>
			</div>
			<div class="media-body">
			<h2 class="media-heading"><strong>Cloudera Certified Associate: Spark and Hadoop Developer (CCAD)</strong></h2>
			<strong>Validity May 2016 - May 2018</strong>

			</div>

			</div>
		</div>
		</div>





		</div>
	</div>


  {% endblock %}
