<!DOCTYPE html>
{% extends "base.html" %}

{% block body_block %}

<div class="col-sm-10">
<div class='container-fluid'>

<div class="panel panel-default">
	<div class="panel-heading">
<h3><strong>Education</strong></h3>
	</div>
	<div class="panel-body">
		<oi id="one" align="justify">
			<li class="list-group-item list-group-item-primary">
       <strong>Master of Science</strong>
			 <br>
			 Major: Telecommunications Engineering
			 <br>
			 University of Oklahoma
			 <br>
			 Education Year: 2015-2016
			</li>
			<li class="list-group-item list-group-item-primary">
      <strong>Bachelor of Science</strong>
			 <br>
			 Major: Electronics and Communication Engineering
			 <br>
			 Khulna University of Engineering and Technology
			 <br>
			 Education Year: 2006-2010
			</li>
			<li class="list-group-item list-group-item-primary">
       <strong>Higher Secondary Certificate</strong>
			 <br>
			 Major: Science
			 <br>
			 Chittagong College
			 <br>
			 Education Year: 2003-2005
			</li>
      <li class="list-group-item list-group-item-primary">
       <strong>Secondary School Certificate</strong>
			 <br>
			 Major: Science
			 <br>
			 Chittagong Collegiate School
			 <br>
			 Education Year: 1998-2003
      </li>
		</oi>
</div>

</div>
</div>
</div>

  {% endblock %}
