<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
	{% block body_block %}

	<div class="col-sm-10">
	<div class='container-fluid'>

		<div class="panel panel-success">
			<div class="panel-heading">

		<div class="media">
			<div class="media-left media-middle">
					<a href="https://www.cisco.com">
					<img class="media-object" src="{% static 'images/cisco.jpg' %}">
				</a>
			</div>
			<div class="media-body">

				<strong id="eleven">Cisco System Inc.</strong><br>
				<strong>
				 <span id="ten">Software Test Engineer</span><br>
				 <span id="ten">Duration Mar 2018 - Present </span> <br><br>
				 <span id="ten">Job Responsibilities </span> <br>
				 <ol>
					 <li id=ten>
						 Review Customer Solution Requirement Docs (SRDs).
					 </li>
					 <li id="ten">
						 Design and Validate Customer use cases.
					 </li>
					 <li id="ten">
						 Automate use cases using TCL/Expect, Python.
					 </li>
						<li id="ten">
						Participate in innovative Software test initiatives.
						</li>
					 <li id="ten">
						 Work closely with the field team to successfully enable the Solutions.
					 </li>
				 </ol>
		</strong>

			</div>
		</div>
		</div>
		</div>


		<div class="panel panel-success">
			<div class="panel-heading">

		<div class="media">
			<div class="media-left media-middle">
					<a href="https://www.yahoo.com">
					<img class="media-object" src="{% static 'images/Yahoo_Logo.jpg' %}">
				</a>
			</div>
			<div class="media-body">

				<strong id="six">Yahoo! Inc.</strong><br>
				<strong>
				 <span id="eight">Production Engineer</span><br>
				 <span id="eight">Duration Feb 2017 - Mar 2018 </span> <br><br>
				 <span id="eight">Job Responsibilities </span> <br>
				 <ol>
					 <li id=eight>
						 Diagram and understand complex workflows.
					 </li>
					 <li id="eight">
						Understand pain points and automation opportunities with alerts, reports, and operations workflows.
					 </li>
					 <li id="eight">
						Identify and prioritize alert automation opportunities and work with engineering teams to implement solutions.
					 </li>
						<li id="eight">
						Understand and be able to articulate automation best practices.
						</li>
					 <li id="eight">
						 Understand the automation solutions available and be able to make recommendations on preferred solutions to engineering teams.
					 </li>
					 <li id="eight">
            Write lucid, intelligent, and logical code.
					 </li>
					 <li id="eight">
            Track work through ticketing systems and follow through to resolution.
					 </li>
					 <li id="eight">
            Design and implement software frameworks and tools to facilitate automation.
					 </li>
				 </ol>
		</strong>

			</div>
		</div>
		</div>
		</div>


		<div class="panel panel-primary">
			<div class="panel-heading">

		<div class="media">
			<div class="media-left media-middle">
					<a href="https://www.ou.edu">
					<img class="media-object" src="{% static 'images/OU_Logo.jpg' %}">
				</a>
			</div>
			<div class="media-body">

				<strong id="five"> University of Oklahoma</strong><br>
				<strong>
				 <span id="four">Graduate Research Assistant</span><br>
				 <span id="four">Duration Jan 2015 - Dec 2016 </span> <br><br>
				 <span id="four">Job Responsibilities </span> <br>
				 <ol>
					 <li id="four">
						Research work in the field of secure communication based on quantum cryptography.
					 </li>
					 <li id="four">
						 Modeling of networked quantum information system, both within deterministic and stochastic frameworks.
					 </li>
					 <li id="four">
						Develop methods of networking distributed quantum system.
						<li id="four">
						 Maintain a smooth flow of information and ideas between communication theory, network theory and modeling and quantum information theory.
						</li>
					 <li id="four">
						 Design communication method and network protocol for distributed quantum system.
					 </li>
				 </ol>
		</strong>

			</div>
		</div>
		</div>
		</div>


	<div class="panel panel-info">
		<div class="panel-heading">

	<div class="media">
	  <div class="media-left media-middle">
				<a href="https://www.grameenphone.com">
	      <img class="media-object" src="{% static 'images/GP_Logo2.jpg' %}">
	    </a>
	  </div>
	  <div class="media-body">

			<strong id="five">Grameenphone Ltd.</strong><br>
			<strong>
			 <span id="four">Senior Network Systems Engineer</span><br>
			 <span id="four">Duration Aug 2010 - Dec 2014 </span> <br><br>
			 <span id="four">Job Responsibilities </span> <br>
			 <ol>
				 <li id="four">
        	Was responsible for the configuration of routing and switching equipment of transmission network and core network.
				 </li>
  			 <li id="four">
        	Designing and implementing new network architecture by collaborating with network architect and improving the resiliency of existing architecture.
				 </li>
				 <li id="four">
          Reporting and monitoring network operational status, troubleshooting network outage and collaborating with stake-holders on network optimization.
				 </li>
          <li id="four">
          Capacity planning, allocation and audit of IP addressing, defining and documenting system parameter.
					</li>
  			 <li id="four">
					Ensuring technical assistance and support by responding to inquiries from site personnel, vendors, contractors etc.
				 </li>
			 </ol>
</strong>

	  </div>
	</div>
</div>
</div>

	</div>
	</div>

  {% endblock %}
