<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
	{% block body_block %}
	<div class="col-sm-7">
	<div class='container-fluid'>

	<div class="panel panel-default">
	  <div class="panel-heading">
<h3><strong>About me...</strong></h3>
		</div>
	  <div class="panel-body">

<ul id="one" align="justify">
	<li class="list-group-item list-group-item-success"><strong>Currently, I am working as a Software Test Engineer, Enterprise Routing in Cisco Systems Inc. at San Jose, California, USA.</strong></li>
	<li class="list-group-item list-group-item-success"><strong>Before, I was working as a Production Engineer, Technology Operations in Yahoo Inc. at Lockport, New York, USA. for 1.2 years.</strong></li>
	<li class="list-group-item list-group-item-success"><strong>I have 2 years of experience of working as a Graduate Research Assistant in Telecommmunication Engineering at the University of Oklahoma.</strong></li>
	<li class="list-group-item list-group-item-success"><strong>I have 4.5 years of experience of working as a Senior System Engineer in one of the largest telecommunication operators in Bangladesh.</strong></li>
	<li class="list-group-item list-group-item-success"><strong>I am a winner of Information and Telecommunications Education and Research Association (ITERA) Case Study Competition - 2016, sponsored by Facebook.</strong></li>
	<li class="list-group-item list-group-item-success"><strong>Cisco Certified Network Professional (CCNP)</strong></li>
	<li class="list-group-item list-group-item-success"><strong>Cisco Certified Network Associate (CCNA)</strong></li>
	<li class="list-group-item list-group-item-success"><strong>Cloudera Certified Associate: Spark and Hadoop Developer (CCAD)</strong></li>
</ul>
</div>
</div>

</div>
</div>

<div class="col-sm-3">
	<img src="{% static 'images/mithun_new4.jpg' %}" alt="face" class="img-rounded">
</div>

{% endblock %}
