<!DOCTYPE html>
{% extends "base.html" %}
	{% block body_block %}
  <div class="col-sm-10">
  <div class='container-fluid'>

  <div class="panel panel-info">
    <div class="panel-heading">
  <h3><strong>
<center id ="three">
    Bangladesh: One Step Forward
</center>
  </strong></h3>
    </div>
    <div class="panel-body">
    <p style="text-align:justify" id="one"> Nurul Hossain, a well-educated man of my village, was economically in poor condition a few years back. At his extreme economic condition, he took a loan from the bank and started a small shop in the village market. He started unique offerings of new goods and services, for example, if anyone buys one kilogram of potato from his shop, he offered fifty grams of green-chili for free which positively impacted his business, and income. Right now, he owns a house in the village. In short, this is a sign of economic growth of Bangladesh.</p>
<br>
    <p style="text-align:justify" id="one">According to the World Bank’s recent report, Bangladesh has become a “lower-middle income” country: having the 35th world's largest economy. Obviously, this is an addition to advertise a good image of the country. Despite several pitfalls, this upgradation of Bangladesh indicates the fact that it has been able to pose higher and consistent economic growth over the years. The latest figure boosts Bangladesh as third largest economy in South Asia after India and Pakistan.</p>
<br>
    <p style="text-align:justify" id="one">There are three economic groups: low, middle and high. Middle income group is further subdivided into lower-middle and upper-middle group. The benchmark for becoming a lower-middle income country is to have a Gross National Income per capita (GNI) of $1046 to $4125 and for a upper-middle income country, it is $4126 to $12735. The upgradation from lower to middle income group manifests the fact that this country can “stands on its own feet”. According to Bangladesh Bureau of Statistics (BBS), the per capita income is $1314, having entered into the upgraded group of 51 out of 215 countries.</p>
<br>
    <p style="text-align:justify" id="one">Bangladesh had been a lower income country (LIC) for more than 40 years and had set a target to become upper middle income country (UMIC) by 2021 and to be a lower middle income country (LMIC) is a step to that stair. But there is a long bucket list to step further to UMIC, as there are many advanced countries now, which took several years to shift from LMIC to UMIC. For instance, despite having world third- largest economy, India has been in the LMIC category since 2007. In fact, as a country step forward to further development, it becomes harder to continue the same pace of growth.</p>
<br>
    <p style="text-align:justify" id="one">However, Bangladesh is considered as a least developing country (LDC). It should overcome in three sectors: vulnerable economic growth, human development index, and per capita income. Out of these, it only overcomes the first indicators. To be more precise, almost one-third of Bangladesh’s 160 million people live in extreme poverty. So, to maintain sustainable development, one of the crucial factors is that turning this poor into human assets.</p>
<br>
    <p style="text-align:justify" id="one">Despite having controversy in view of complexities of prosperity challenges, including uneven distribution of wealth, sustainability and connectedness, GNI per capita measures the average amount of resources available to persons residing in each economy and indicates the average economic well-being of a population. Being upgraded to LMIC, one country might experience a so-called “middle-income trap” which indicates that the rate of interest may be higher, and repayment period may be shorter than low income countries, and need to follow stringent rules for getting soft loans from developed countries, will be challenged more by the hi-tech products of developed countries etc. It will happen when the condition of the economy grows and it is better to have an economy on a strong footing than living as a poor country.</p>
<br>
    <p style="text-align:justify" id="one">This enhanced image of Bangladesh can result in a positive impact in the form of higher foreign investment and a relatively advantageous position will be created to get loans from the international money market as it now will be considered as a less risky country. Although three-fifths of Bangladeshis are engaged in the agriculture sector, three-quarters of export revenues come from producing ready-made garments (RMG) which makes this country the second largest ready-made garment economy in the world.</p>
<br>
    <p style="text-align:justify" id="one">There will be many barriers while accomplishing this task to meet the target. Having a market of more than hundred million, it is a great opportunity for Bangladesh to overcome all odds and obstacles to become an upper middle-income country by 2021.</p>

  </div>
  </div>
  </div>
  </div>
  {% endblock %}
