<!DOCTYPE html>
{% extends "base.html" %}
	{% block body_block %}

  <div class="col-sm-10">
  <div class='container-fluid'>

  <nav class="nav nav-tabs">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Projects</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'basic_app:project1' %}"><strong id="nine">Project 1</strong></a></li>
            <li><a href="{% url 'basic_app:project2' %}"><strong id="nine">Project 2</strong></a></li>
            <li><a href="{% url 'basic_app:project3' %}"><strong id="nine">Project 3</strong></a></li>
            <li><a href="{% url 'basic_app:project4' %}"><strong id="nine">Project 4</strong></a></li>


          </ul>
        </div>
      </div>
    </div>
  </nav>


	<div class="panel panel-default">
		<div class="panel-heading">
	<h3><strong>Project 2</strong></h3>
		</div>
		<div class="panel-body">

	<ul id="one" align="justify">
		<strong>2016 US Election Analysis:</strong>
		<li> 	In this project primary results of 2016 US election (data collected from www.kaggle.com) is analyzed and visualized by python. For data visualization pandas, seaborn modules are used.</li>
		<li> Vote-count for each state is analyzed considering different attributes of the datasets such as per party (Democrat or Republic), per candidate etc.</li>
		<li>	A comparative report for top candidates in each state is also presented in this project. </li>
		<a href="https://github.com/mithun2k5/Data-Analysis-and-Visualization/tree/master/2016%20US%20Election%20Analysis">Link - Github</a>
	</ul>
	</div>
	</div>

</div>
</div>

  {% endblock %}
