<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
	{% block body_block %}

	<div class="col-sm-10">
	<div class='container-fluid'>

		<table class="table table-hover table-bordered" id="one">
		 <tr class="warning">
			 <th> Skill-set</th>
			 <th>Description</th>
			 </tr>

     <tr class="success">
     	<td>
<strong> Data Center Network Technologies and Troubleshooting Skills </strong>
			</td>
			<td>
			<strong>Hands-on experience with technologies like L3 protocols - OSPF,RIP,BGP,EIGRP etc., L2 protocol - spanning-tree, frame relay,HDLC etc.,load balancer, MP-MPLS.
				<br>
				<a href="https://github.com/mithun2k5/Command-Lines/tree/master/Networking">Link - Github</a>
			</strong>
			</td>
     </tr>

		 <tr class="success">
		  <td>
		 	 <strong>Network Management and Security </strong>
		  </td>
		  <td>
		 	<strong>Real-time experience to ensure end-to-end network connectivity from radio access network via transmission network to back-haul network at Grameenphone Ltd. Also, had real-world experience on configuring ACL, NAT, DHCP, SNMP, Syslog etc. </strong>
		  </td>
		 </tr>
		 <tr class="success">
		  <td>
		  <strong>Scripting and Automation</strong>
		  </td>
		  <td>
		 <strong> Real-time experience of writing,modifying and updating different shell scripts for network performance monitoring, system parameter configuration and automation.
			 <br>
			 <a href="https://github.com/mithun2k5/Command-Lines/tree/master/Linux%20Commands">Link - Github</a>
		 </strong>
		  </td>
		 </tr>

		 <tr class="success">
			<td>
			<strong>ETL Processing</strong>
			</td>
			<td>
		 <strong> Comprehensive knowledge on Hadoop Ecosystem such as Spark, Scala, Hive, Flume, Sqoop etc.
			 <br>
			 <a href="https://github.com/mithun2k5/Data-Analysis-and-Visualization">Link - Github</a>
		 </strong>
			</td>
		 </tr>

		 <tr class="success">
		  <td>
		  <strong>SQL Experience</strong>
		  </td>
		  <td>
		 <strong> Extensive experience with relational database such as MySQL, PostgreSQL</strong>
		  </td>
		 </tr>

		 <tr class="success">
		  <td>
		  <strong>Data Modeling</strong>
		  </td>
		  <td>
		 <strong> Worked on a project which requires Scikit Learn module of Python to analyze data for predictive analysis of different types of datasets.
			 <br>
			 <a href="https://github.com/mithun2k5/Machine-Learning-Projects">Link - Github</a>
	    </strong>
		  </td>
		 </tr>

		 <tr class="success">
		  <td>
		  <strong>Python Programming</strong>
		  </td>
		  <td>
		 <strong> Written codes for types of interactive programming in Python. Compiled self-written codes for different capstone projects.
			 <br>
			 <a href="https://github.com/mithun2k5/Python-Code">Link - Github</a>
	    </strong>
		  </td>
		 </tr>
		</table>

</div>
</div>

  {% endblock %}
